* {
  font-size: 110%;
}
body {
  background-color: teal;
}
section {
  text-align: center;
}
h1 {
  font-family: 'SomeTimeLaterRegular';
  font-size: 250%;
  margin: 15px;
}
footer {
  text-align: left;
  padding-top: 50px;
}
p {
  margin: 0px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  margin: 0px 10px;
}
img {
  border-color: #EA7200;
  border-style: double;
  border-width: 8px;
}
